body{
}

#video{
    display: none;
}

#map {
    height: 100%;
    width: 100%;
}

button#mapButton{
    position: absolute;
    top: 0px;
}

button#takeButton{
    position: absolute;
    top: 95%;
    left: 50%;
}